/* event searchbar styles */

.event-searchbar {
  width: 100%;
  margin: 32px 0;
}

.event-searchbar input {
  width: 60%;
  font-size: 1.2em;
  margin: auto;
  display: block;
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid black;
  outline: none;
}

/* event list styles */

.events-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.list-title {
  font-size: 2em;
  margin: 32px 0;
}

/* event item styles */

.event-item {
  text-decoration: none;
  color: inherit;
}

.event-item {
  width: 100%;
  background-color: #1e1e2f;
  padding: 1em;
  color: white;
  border-radius: 8px;
}

.event-item .event-header-tag {
  display: flex;
  align-items: center;
  gap: 12px;
}

.event-item .event-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-item .event-location {
  background-color: #7db7c3;
  padding: 4px 6px;
  border-radius: 6px;
}

.event-item .item-spacer {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  opacity: 0.66;
  margin: 12px 0;
}

.event-item .stat {
  display: flex;
  align-items: center;
  gap: 1em;
}

.event-item .event-body {
  display: flex;
  gap: 1em;
}

@media screen and (max-width: 600px) {
  .event-searchbar input {
    width: 80%;
  }


  .event-item {
    font-size: .9em;
  }
}

.modalBtn:hover {
  background: grey;
}

.modalBtn {
  background: blue;
  border: solid 0px transparent;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.2);
}

.event-content {
  position: fixed;
  overflow-y: scroll;
  overflow-x: none;
  height: 60%;
  width: 70%;
  background-color: white;
  margin: 43.5% 15%;
  padding: 20px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2)
}

.closeBtn {
  color: #ccc;
  float: right;
  position: absolute;
  top: 1%;
  right: 3%;
  font-size: 30px;
}

.closeBtn:hover,.closeBtn:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
