* {
  font-family: "Inter";
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
h4,
h5,
h6,
p,
ol

h1 {
  font-weight: bold;
}
h2 {
  font-size: 1em;
}

h3 {
  font-size: 1.5em;
}

#cta-button {
  color: black
}

#more-info {
  color: #AD00FF;
  font-size: 0.7em;
}

ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #AD00FF;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

footer,
header {
  padding: 12px;
}

.container {
  max-width: 96%;
  margin: 0 auto;
}

.main-header {
  width: 100%;
  background-color: #1e1e2f;
  display: flex;
  align-items: center;
  color: white;
  justify-content: flex-end;
}

.main-header .account-display {
  display: flex;
  gap: 1em;
  align-items: center;
}

.mobile-nav {
  width: 100%;
  background-color: #1e1e2f;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  gap: 10px;
}

.mobile-nav a{
  color: inherit;
  text-decoration: none;
}

.avatar-icon {
  border: 1px solid white;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-nav-icon {
  font-size: 0.7em;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  width: 80%;
  padding: 1em;
  border-radius: 8px;
  text-align: center;
}

.mobile-nav-icon:hover {
  background-color: #e6e66ab5;
}

.mobile-nav-icon i {
  font-size: 2em;
}


div.hero-text {
  position: relative;
  text-align: left;
  padding: 20px;
  background-image: url('../assets/gardens.jpeg');
  background-size: 100%;
  min-height: 350px;
  margin-bottom: 1em;
}

#hero {
  padding: 5px;
  background-color: #e6e66a;
  max-width: 28%;
}

.hero-text #tagline {
  position: absolute;
  bottom: 15px;
  padding: 5px;
  background-color: #e6e66a;
  max-width: 35%;
}

.cta {
  text-align: center;
}


#cta-button {
  background-color: #9bc385;
  color: #1e1e2f;
  width: 280px;
  height: 41.5px;
  border-radius: 30px;
  border-width: 0;
  font-size: 22px;
  margin: 10px
}

#cta-button:hover {
  background-color: #e6e66a;
  transition: 0.2s;
  cursor: pointer;
}

#more-info {
  font-size: 1.1em;
}

.closeBtn {
  color: #ccc;
  float: right;
  top: 1%;
  right: 3%;
  font-size: 30px;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modalBtn {
  float: bottom;
  background-color: grey;
  color: #fff;
  border: transparent solid 0px;
  border-radius: 5px;
  height: 24px;
  width: 100%;
}

.modalBtn:hover {
  background: rgb(34, 34, 34);
}

@media screen and (max-width: 800px) {
  footer,
  header {
    padding: 1em;
  }
}

/* modal styling */

.modal .event-content {
  height: 60%;
  width: 70%;
  background-color: white;
  margin: 10% auto;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}

.title-location {
  margin-top: 5%;
  padding-bottom: 2%;
  border-bottom: solid #1E1E2F 2px;
  margin-bottom: 5%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.event-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  overflow-y: scroll;
  overflow-x: none;
  height: 60%;
  width: 70%;
  background-color: white;
  margin: 43.5% 15%;
  padding: 20px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 600px) {
  .modal .event-content {
    margin: 25% auto;
  }}
