#hero {
  padding: 5px;
  background-color: #e6e66a;
}

.hero-text #tagline {
  position: absolute;
  bottom: 15px;
  padding: 5px;
  background-color: #e6e66a;
  max-width: 35%;
}

.cta {
  text-align: center;
}

#cta-button {
  background-color: #9bc385;
  color: #1e1e2f;
  width: 280px;
  height: 41.5px;
  border-radius: 30px;
  border-width: 0;
  font-size: 22px;
  margin: 10px;
}

#cta-button:hover {
  background-color: #e6e66a;
  transition: 0.2s;
  cursor: pointer;
}

#more-info {
  font-size: 1.1em;
}
