h1.login-text {
  margin: 176px auto 0;
  font-size: 64px;
  font-weight: normal;
}

.textheader {
  align-items: center;
  text-align: center;
  padding: 0;
}

.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.login-form input {
  width: 280px;
  height: 41.5px;
  text-align: center;
  border-radius: 30px;
  font-size: 20px;
}

div.username {
  margin: 0 auto 18px;
}

div.submitbtn {
  margin-top: 143px;
}

div.submitbtn button {
  width: 280px;
  height: 41.5px;
  border-radius: 30px;
  font-size: 22px;
}

div.submitbtn button,
div.username input,
div.password input {
  border: transparent 0px solid;
}

div.username input,
div.password input {
  background-color: aliceblue;
}

div.username input {
  margin-top: 83px;
}

h3.welcome-back {
  margin: 0 auto;
  font-size: 24px;
  font-weight: normal;
}

p.signup {
  font-size: 16px;
  margin-top: 9px;
}