h1.login-text {
  margin: 176px auto 0;
  font-size: 64px;
  font-weight: normal;
}

.textheader {
  align-items: center;
  text-align: center;
  padding: 0;
}

.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.login-form input {
  width: 280px;
  height: 41.5px;
  text-align: center;
  border-radius: 30px;
  font-size: 20px;
  margin-bottom: 8px;
}

.login-form input:first-child {
  margin-top: 32px;
}

.login-form button {
  margin-top: 167px;

.login-form  button {
  width: 280px;
  height: 41.5px;
  border-radius: 30px;
  font-size: 22px;
}

.login-form button,
.login-form input,
.login-form input {
  border: transparent 0px solid;
}

.login-form input,
.login-form input {
  background-color: aliceblue;
}

.form-errors {
  color: red;
}