html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  height: 80vh;
}

footer,
header {
  padding: 12px;
}

.main-header {
  width: 100%;
  background-color: #1e1e2f;
  display: flex;
  align-items: center;
  color: white;
  justify-content: flex-end;
}

.mobile-nav {
  width: 100%;
  background-color: #1e1e2f;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
}

.avatar-icon {
  border: 1px solid white;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  footer,
  header {
    padding: 1em;
  }
}
